<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Management System</title>
    <link rel="stylesheet" href="/emergencias/styles.css">
</head>
<body>
<h1>Emergency Management System</h1>
<div id="board-emergencias" class="board"></div>
<div id="vehicles">
    <h2>List of Vehicles</h2>
    <ul id="vehicle-list">
        <!-- Vehicles will be inserted here by JavaScript -->
    </ul>
</div>
<script src="/emergencias/script.js"></script>
</body>
</html>